packs_sys/logicmoo_base/prolog/logicmoo/tptp/infra/lib/documents/rdf/rdf_schema.dtd

<!-- ====================================================================== -->
<!-- ====================================================================== -->
<!-- RDF Schema DTD -->
<!-- -->
<!-- An RDF DTD that should be sufficient to write RDFS Schemas. -->
<!-- ====================================================================== -->
<!-- ====================================================================== -->

<!-- This is derived from the DTD generated for an empty knowledgebase.

     Known limitations: The rdf:_N properties are missing, but
     rdfs:member can be used.
 -->

<!-- Generated by SWPLAN -->

<!ENTITY % nodeElement "
        ( rdf:Alt
        | rdf:Bag
        | rdf:Property
        | rdf:Set
        | rdfs:Class
        | rdfs:Container
        | rdfs:Property
        | rdfs:Resource )" >

<!ELEMENT rdf:RDF ( %nodeElement; )* >
<!ATTLIST rdf:RDF
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        xmlns:rdfs CDATA "http://www.w3.org/2000/01/rdf-schema#"
        xmlns:rdf CDATA "http://www.w3.org/1999/02/22-rdf-syntax-ns#" >

<!ELEMENT rdf:Alt
        ( rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:member )* >
<!ATTLIST rdf:Alt
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED
        rdfs:member CDATA #IMPLIED >

<!ELEMENT rdf:Bag
        ( rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:member )* >
<!ATTLIST rdf:Bag
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED
        rdfs:member CDATA #IMPLIED >

<!ELEMENT rdf:Property
        ( rdf:type
        | rdfs:comment
        | rdfs:domain
        | rdfs:label
        | rdfs:range
        | rdfs:subPropertyOf )* >
<!ATTLIST rdf:Property
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!ELEMENT rdf:Set
        ( rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:member )* >
<!ATTLIST rdf:Set
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED
        rdfs:member CDATA #IMPLIED >

<!ELEMENT rdfs:Class
        ( rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:subClassOf )* >
<!ATTLIST rdfs:Class
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!ELEMENT rdfs:Container
        ( rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:member )* >
<!ATTLIST rdfs:Container
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED
        rdfs:member CDATA #IMPLIED >

<!ELEMENT rdfs:Property
        ( rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST rdfs:Property
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!ELEMENT rdfs:Resource
        ( rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST rdfs:Resource
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!ELEMENT rdf:type
        ( rdfs:Class )* >
<!ATTLIST rdf:type
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:comment ANY >
<!ATTLIST rdfs:comment
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:domain
        ( rdfs:Class )* >
<!ATTLIST rdfs:domain
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:label ANY >
<!ATTLIST rdfs:label
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:member ANY >
<!ATTLIST rdfs:member
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:range
        ( rdfs:Class )* >
<!ATTLIST rdfs:range
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:subClassOf
        ( rdfs:Class )* >
<!ATTLIST rdfs:subClassOf
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:subPropertyOf
        ( rdf:Property )* >
<!ATTLIST rdfs:subPropertyOf
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- EOF -->
