packs_sys/swicli/src/jar2ikvmc/JarAnalyzer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="UnresolvedDependencies">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Package" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Summary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Statistics"/>
				<xs:element ref="Metrics"/>
				<xs:element ref="Packages"/>
				<xs:element ref="OutgoingDependencies"/>
				<xs:element ref="IncomingDependencies"/>
				<xs:element ref="Cycles"/>
				<xs:element ref="UnresolvedDependencies"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Statistics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ClassCount"/>
				<xs:element ref="AbstractClassCount"/>
				<xs:element ref="PackageCount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Packages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Package" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PackageCount" type="xs:int"/>
	<xs:element name="Package" type="xs:string"/>
	<xs:element name="OutgoingDependencies">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Jar" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Metrics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Abstractness"/>
				<xs:element ref="Efferent"/>
				<xs:element ref="Afferent"/>
				<xs:element ref="Instability"/>
				<xs:element ref="Distance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Jars">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Jar" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JarAnalyzer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Jars"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Jar">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Summary" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Instability" type="xs:decimal"/>
	<xs:element name="IncomingDependencies">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Jar" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Efferent" type="xs:int"/>
	<xs:element name="Distance" type="xs:decimal"/>
	<xs:element name="Cycles">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Cycle" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cycle" type="xs:string"/>
	<xs:element name="ClassCount" type="xs:int"/>
	<xs:element name="Afferent" type="xs:int"/>
	<xs:element name="Abstractness" type="xs:int"/>
	<xs:element name="AbstractClassCount" type="xs:int"/>
</xs:schema>
