prologmud_server/.emacs.d/elpa/psgml-1.3.4/testcase/tc03.dtd

<!ELEMENT Tc3 (_129-1)>
<!ELEMENT _129-1 (#PCDATA)>
<!ELEMENT xlink:simple EMPTY>
<!ATTLIST xlink:simple
   href         CDATA                       #REQUIRED
   role         CDATA                       #IMPLIED
   title        CDATA                       #IMPLIED
   show         (new|parsed|replace)        "replace"
   actuate      (user|auto)                 "user"
>
