prologmud_server/.emacs.d/elpa/psgml-1.3.4/testcase/tc09.dtd

<?xml version="1.0" encoding='UTF-8' ?>
<!--VTD DTD-->

<!ELEMENT VTD ((REGEXPR, ATTEXPR, TYPEEXPR, ELEMENT)*)>


<!ELEMENT REGEXPR EMPTY >
<!ELEMENT ATTEXPR EMPTY>
<!ELEMENT TYPEEXPR EMPTY>
<!ELEMENT ELEMENT EMPTY>
<!ELEMENT ATT EMPTY>

<!ATTLIST REGEXPR
  NAME CDATA #IMPLIED
  EXPR CDATA #IMPLIED >