packs_sys/logicmoo_nlu/ext/candc/ext/bin-old/ns1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/* ns1
   Generated by the gSOAP Stub and Skeleton Compiler for C and C++ 2.1.6b
   Copyright (C) 2001-2002 Robert A. van Engelen, Florida State University.
   All rights reserved.
*/-->
 <schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  targetNamespace="%{URL}%/ns1.xsd"
  xmlns:ns1="%{URL}%/ns1.xsd">

  <complexType name="ArrayOfint">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <element name="item" type="xsd:int" maxOccurs="unbounded"/>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="ArrayOfArrayOfint">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <element name="item" type="ns1:ArrayOfint" maxOccurs="unbounded"/>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="magicResponse">
   <all>
    <element name="result" type="ns1:ArrayOfArrayOfint" minOccurs="1" maxOccurs="1" nillable="true"/>
   </all>
  </complexType>

 </schema>
