packs_sys/logicmoo_base/prolog/logicmoo/tptp/infra/lib/documents/doc/examples/rdf/blocks_generated.dtd

<!-- RDFS DTD generated by InfraEngine 2007-10-13 17:35:13 -->
<!-- Knowledgebase: sys_gen1 -->
<!-- The following documents have been loaded into this knowledgebase: -->
<!-- file:///Users/ch/infra/lib/documents/doc/examples/rdf/blocks.rdf -->
<!-- file:///Users/ch/infra/lib/documents/rdf/infraengine_schema.rdf -->

<!ENTITY % nodeElement "
        ( bs:Block
        | bs:PutOn
        | bs:Table
        | bs:WorldObject
        | bs:clear
        | bs:on
        | inf:ArithmeticConstraint
        | inf:Constraint
        | inf:Literal
        | inf:OutputConstraint
        | inf:Parameter
        | inf:PlanNode
        | inf:Query
        | inf:Rule
        | inf:Solution
        | inf:Statement
        | rdf:Alt
        | rdf:Bag
        | rdf:Property
        | rdf:Set
        | rdfs:Class
        | rdfs:Container
        | rdfs:Datatype
        | rdfs:Resource )" >

<!ELEMENT rdf:RDF ( %nodeElement; )* >
<!ATTLIST rdf:RDF
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        xmlns:rdfs CDATA "http://www.w3.org/2000/01/rdf-schema#"
        xmlns:rdf CDATA "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:inf CDATA "http://www.infraengine.com/planner/"
        xmlns:bs CDATA "http://www.infraengine.com/examples/blocks#" >

<!-- Class bs:Block

     A block that can be moved.
-->
<!ELEMENT bs:Block
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST bs:Block
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class bs:PutOn

     Action: Put a block on to another block or the table.
-->
<!ELEMENT bs:PutOn
        ( bs:putOnBlock
        | bs:putOnFrom
        | bs:putOnTo
        | inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST bs:PutOn
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class bs:Table

     A table with blocks on it.
-->
<!ELEMENT bs:Table
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST bs:Table
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class bs:WorldObject

     An object in the blocks world.
-->
<!ELEMENT bs:WorldObject
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST bs:WorldObject
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class bs:clear

     Fluent: The object is clear.
-->
<!ELEMENT bs:clear
        ( bs:clearWorldObject
        | inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST bs:clear
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class bs:on

     Fluent: One block is on top of the other.
-->
<!ELEMENT bs:on
        ( bs:onBottom
        | bs:onTop
        | inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST bs:on
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class inf:ArithmeticConstraint

     Arithmetic constraint.
-->
<!ELEMENT inf:ArithmeticConstraint
        ( inf:expression
        | inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST inf:ArithmeticConstraint
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:expression CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class inf:Constraint

     Abstract superclass of constraints.
-->
<!ELEMENT inf:Constraint
        ( inf:expression
        | inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST inf:Constraint
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:expression CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class inf:Literal

     Literal (syntactical pseudo class for associating meta information with
     literals).
-->
<!ELEMENT inf:Literal
        ( inf:parameter
        | inf:value
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST inf:Literal
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:value CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class inf:OutputConstraint

     To pass constraint information to the output.
-->
<!ELEMENT inf:OutputConstraint
        ( inf:expression
        | inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST inf:OutputConstraint
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:expression CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class inf:Parameter

     User input parameter.
-->
<!ELEMENT inf:Parameter
        ( inf:parameter
        | inf:parameterDefaultValue
        | inf:parameterValue
        | inf:parameterVar
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST inf:Parameter
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:parameterDefaultValue CDATA #IMPLIED
        inf:parameterValue CDATA #IMPLIED
        inf:parameterVar CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class inf:PlanNode

     Action labeled node in a plan.
-->
<!ELEMENT inf:PlanNode
        ( inf:parameter
        | inf:planAction
        | inf:planFollows
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST inf:PlanNode
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:planAction CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class inf:Query

     Planning Query.
-->
<!ELEMENT inf:Query
        ( inf:actions
        | inf:constrained
        | inf:goal
        | inf:parameter
        | inf:start
        | inf:useRule
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST inf:Query
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:actions CDATA #IMPLIED
        inf:constrained CDATA #IMPLIED
        inf:goal CDATA #IMPLIED
        inf:start CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class inf:Rule

     Planning rule.
-->
<!ELEMENT inf:Rule
        ( inf:action
        | inf:after
        | inf:before
        | inf:constrained
        | inf:parameter
        | inf:remaining
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST inf:Rule
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:action CDATA #IMPLIED
        inf:after CDATA #IMPLIED
        inf:before CDATA #IMPLIED
        inf:constrained CDATA #IMPLIED
        inf:remaining CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class inf:Solution

     Solution to a planning problem.
-->
<!ELEMENT inf:Solution
        ( inf:parameter
        | inf:solutionConstraints
        | inf:solutionPlan
        | inf:solutionPool
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST inf:Solution
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:solutionConstraints CDATA #IMPLIED
        inf:solutionPool CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Class inf:Statement

     Abstract superclass of Rule and Query.
-->
<!ELEMENT inf:Statement
        ( inf:constrained
        | inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST inf:Statement
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:constrained CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!ELEMENT rdf:Alt
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:member )* >
<!ATTLIST rdf:Alt
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED
        rdfs:member CDATA #IMPLIED >

<!ELEMENT rdf:Bag
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:member )* >
<!ATTLIST rdf:Bag
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED
        rdfs:member CDATA #IMPLIED >

<!ELEMENT rdf:Property
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:domain
        | rdfs:label
        | rdfs:range
        | rdfs:subPropertyOf )* >
<!ATTLIST rdf:Property
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!ELEMENT rdf:Set
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:member )* >
<!ATTLIST rdf:Set
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED
        rdfs:member CDATA #IMPLIED >

<!ELEMENT rdfs:Class
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:subClassOf )* >
<!ATTLIST rdfs:Class
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!ELEMENT rdfs:Container
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:member )* >
<!ATTLIST rdfs:Container
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED
        rdfs:member CDATA #IMPLIED >

<!ELEMENT rdfs:Datatype
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label
        | rdfs:subClassOf )* >
<!ATTLIST rdfs:Datatype
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!ELEMENT rdfs:Resource
        ( inf:parameter
        | inf:var
        | rdf:type
        | rdfs:comment
        | rdfs:label )* >
<!ATTLIST rdfs:Resource
        rdf:about CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        rdf:type CDATA #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED
        inf:var CDATA #IMPLIED
        rdfs:comment CDATA #IMPLIED
        rdfs:label CDATA #IMPLIED >

<!-- Property bs:clearWorldObject

     Fluent parameter: The clear object.
-->
<!ELEMENT bs:clearWorldObject
        ( bs:Block
        | bs:Table
        | bs:WorldObject )* >
<!ATTLIST bs:clearWorldObject
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property bs:onBottom

     Fluent parameter: Bottom block.
-->
<!ELEMENT bs:onBottom
        ( bs:Block
        | bs:Table
        | bs:WorldObject )* >
<!ATTLIST bs:onBottom
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property bs:onTop

     Fluent parameter: Top block.
-->
<!ELEMENT bs:onTop
        ( bs:Block )* >
<!ATTLIST bs:onTop
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property bs:putOnBlock

     Action parameter: The block that is moved.
-->
<!ELEMENT bs:putOnBlock
        ( bs:Block )* >
<!ATTLIST bs:putOnBlock
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property bs:putOnFrom

     Action parameter: The object on which the block was lying before.
-->
<!ELEMENT bs:putOnFrom
        ( bs:Block
        | bs:Table
        | bs:WorldObject )* >
<!ATTLIST bs:putOnFrom
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property bs:putOnTo

     Action parameter: The object on which the block is put.
-->
<!ELEMENT bs:putOnTo
        ( bs:Block
        | bs:Table
        | bs:WorldObject )* >
<!ATTLIST bs:putOnTo
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:action

     The action.
-->
<!ELEMENT inf:action ANY >
<!ATTLIST inf:action
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:actions

     Actions that are allowed in the result plan.
-->
<!ELEMENT inf:actions ANY >
<!ATTLIST inf:actions
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:after

     Fluents holding after the action is performed.
-->
<!ELEMENT inf:after ANY >
<!ATTLIST inf:after
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:before

     Fluents holding before the action is performed.
-->
<!ELEMENT inf:before ANY >
<!ATTLIST inf:before
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:constrained

     Constraints, e.g. arithmetic relationships.
-->
<!ELEMENT inf:constrained ANY >
<!ATTLIST inf:constrained
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:expression

     Constraint expression literal.
-->
<!ELEMENT inf:expression ANY >
<!ATTLIST inf:expression
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:goal

     Fluents holding in a goal state.
-->
<!ELEMENT inf:goal ANY >
<!ATTLIST inf:goal
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:parameter

     User input parameter (syntactical pseudo property).
-->
<!ELEMENT inf:parameter
        ( inf:Parameter )* >
<!ATTLIST inf:parameter
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT inf:parameterDefaultValue ANY >
<!ATTLIST inf:parameterDefaultValue
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT inf:parameterValue ANY >
<!ATTLIST inf:parameterValue
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:parameterVar

     The variable name corrsponding to the parameter.
-->
<!ELEMENT inf:parameterVar ANY >
<!ATTLIST inf:parameterVar
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:planAction

     The action of a plan node.
-->
<!ELEMENT inf:planAction ANY >
<!ATTLIST inf:planAction
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:planFollows

     To execute the plan, the action of subject PlanNode must be performed
     after that of the object PlanNode.
-->
<!ELEMENT inf:planFollows
        ( inf:PlanNode )* >
<!ATTLIST inf:planFollows
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:remaining

     Fluents holding before and after the action is performed.
-->
<!ELEMENT inf:remaining ANY >
<!ATTLIST inf:remaining
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT inf:solutionConstraints ANY >
<!ATTLIST inf:solutionConstraints
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:solutionPlan

     Goal node of the solution's plan
-->
<!ELEMENT inf:solutionPlan
        ( inf:PlanNode )* >
<!ATTLIST inf:solutionPlan
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT inf:solutionPool ANY >
<!ATTLIST inf:solutionPool
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:start

     Fluents holding in the start state.
-->
<!ELEMENT inf:start ANY >
<!ATTLIST inf:start
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:useRule

     A specific rule to use, among others.
-->
<!ELEMENT inf:useRule
        ( inf:Rule )* >
<!ATTLIST inf:useRule
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:value

     The literal value of a Literal pseudo object (syntactical pseudo
     property).
-->
<!ELEMENT inf:value ANY >
<!ATTLIST inf:value
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- Property inf:var

     Logical variable (syntactical pseudo property).
-->
<!ELEMENT inf:var ANY >
<!ATTLIST inf:var
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdf:type
        ( rdfs:Class
        | rdfs:Datatype )* >
<!ATTLIST rdf:type
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:comment ANY >
<!ATTLIST rdfs:comment
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:domain
        ( rdfs:Class
        | rdfs:Datatype )* >
<!ATTLIST rdfs:domain
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:label ANY >
<!ATTLIST rdfs:label
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:member ANY >
<!ATTLIST rdfs:member
        rdf:resource CDATA #IMPLIED
        rdf:parseType ( Literal ) #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:range
        ( rdfs:Class
        | rdfs:Datatype )* >
<!ATTLIST rdfs:range
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:subClassOf
        ( rdfs:Class
        | rdfs:Datatype )* >
<!ATTLIST rdfs:subClassOf
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!ELEMENT rdfs:subPropertyOf
        ( rdf:Property )* >
<!ATTLIST rdfs:subPropertyOf
        rdf:resource CDATA #IMPLIED
        rdf:ID ID #IMPLIED
        rdf:bagID NMTOKEN #IMPLIED
        xml:base CDATA #IMPLIED
        xml:lang NMTOKEN #IMPLIED
        xmlns CDATA #IMPLIED >

<!-- EOF -->
